.dm-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.b-danmaku {
    position: absolute;
    line-height: 1.125;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: pre;
    -webkit-perspective: 500px;
    perspective: 500px;
    will-change: transform opacity;
    pointer-events: none
}

.b-danmaku.b-danmaku-hover {
    z-index: 10
}

.b-danmaku.b-danmaku-visibility {
    visibility: hidden
}

.b-danmaku.b-danmaku-hide {
    opacity: 0 !important
}

.b-danmaku.b-danmaku-center {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    will-change: opacity
}

.b-danmaku-up {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 1em;
    line-height: 1.6;
    padding: 0 .5em 0 2.8em
}

.b-danmaku-up-tip {
    position: absolute;
    left: .66em;
    top: 50%;
    background: #00a1d6;
    color: #fff;
    border-radius: 1em;
    padding: 0 .5em;
    text-shadow: none !important;
    line-height: 1.5;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.b-danmaku-actor {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 16px;
    padding: 4px 16px 3px 40px;
    z-index: 1
}

.b-danmaku-actor-img {
    position: absolute;
    top: 2px;
    left: 2px;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden
}

.b-danmaku-actor-img > img {
    width: 100%;
    height: 100%;
    border: none
}

.b-danmaku-actor-tip {
    position: absolute;
    bottom: 2px;
    left: 16px;
    width: 20px;
    height: 20px;
    font-size: 0;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%
}

.b-danmaku-actor-tip > svg {
    width: 100%;
    height: 100%
}

.b-danmaku-actor-tip.b-danmaku-up-text {
    width: auto;
    height: 16px;
    top: 2px;
    padding: 2px 8px;
    font-size: 14px;
    color: #fff;
    text-shadow: none;
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: lr-tb;
    writing-mode: horizontal-tb;
    line-height: 1;
    border-radius: 12px;
    background-color: #00a1d6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0
}

.b-danmaku .b-danmaku-icon {
    vertical-align: bottom
}

.b-danmaku.b-danmaku-liked {
    z-index: 2
}

.b-danmaku.b-danmaku-liked .b-danmaku-liked-icon {
    opacity: 1
}

.b-danmaku.b-danmaku-liked .b-danmaku-high-plus {
    -webkit-animation: tipsPlus 1.25s forwards;
    animation: tipsPlus 1.25s forwards
}

.b-danmaku-liked-icon {
    display: inline-block;
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
    font-size: 0;
    vertical-align: bottom
}

.b-danmaku-liked-icon svg {
    width: 100%;
    height: 100%;
    fill: #fff
}

.b-danmaku-like {
    z-index: 2;
    line-height: 1;
    padding: .6em
}

.b-danmaku-like-icon {
    display: inline-block;
    font-size: 0;
    vertical-align: bottom
}

.b-danmaku-like-icon svg {
    width: 100%;
    height: 100%;
    fill: #fff
}

.b-danmaku-like-num {
    display: inline-block;
    margin: 0 8px 0 0;
    font-size: 14px;
    vertical-align: top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    color: #fff
}

.b-danmaku-like:before {
    content: "";
    position: absolute;
    top: .2em;
    left: 0;
    bottom: .2em;
    right: 0;
    background-color: hsla(0, 0%, 100%, .5);
    border: 1px solid #fff;
    z-index: -1
}

.b-danmaku-high {
    line-height: 1;
    padding: .2em 0;
    z-index: 2
}

.b-danmaku-high.b-danmaku-high-top .b-danmaku-high-top-bg {
    position: absolute;
    top: .1em;
    left: 0;
    width: 100%;
    height: 2em
}

.b-danmaku-high.b-danmaku-high-reverse .b-danmaku-high-text {
    margin: 0 .2em 0 0
}

.b-danmaku-high.b-danmaku-high-reverse .b-danmaku-high-icon {
    margin-left: 2px
}

.b-danmaku-high-plus {
    display: inline-block;
    position: absolute;
    right: -.5em;
    top: 0;
    opacity: 0;
    font-size: 12px;
    color: #fff;
    text-shadow: none;
    z-index: 2
}

.b-danmaku-high-text {
    margin-left: .2em
}

.b-danmaku-high-icon {
    display: inline-block;
    position: relative;
    font-size: 0;
    vertical-align: bottom
}

.b-danmaku-high-icon-animate {
    display: inline-block;
    width: 106%;
    height: 106%;
    margin-top: -3%
}

.b-danmaku-high-icon .bp-svgicon {
    position: absolute;
    top: 0;
    left: 0
}

.b-danmaku-dm-animation {
    position: absolute;
    left: -40px;
    bottom: -40px;
    -webkit-transform-origin: left;
    transform-origin: left;
    will-change: transform opacity
}

.b-danmaku-dm-animation > img + img {
    margin-left: -77px
}

.b-danmaku-dm-animation img {
    -webkit-transform: scale(2);
    transform: scale(2)
}

.b-danmaku-dm-animation-text {
    display: inline-block
}

.b-danmaku .bp-svgicon {
    -webkit-transition: fill .3s;
    -o-transition: fill .3s;
    transition: fill .3s;
    vertical-align: middle;
    display: inline-block;
    font-size: 0
}

.b-danmaku .bp-svgicon, .b-danmaku .bp-svgicon svg {
    width: 100%;
    height: 100%
}

@-webkit-keyframes tipsPlus {
    0% {
        opacity: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    52% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    70% {
        opacity: 1;
        -webkit-transform: translateY(-66%);
        transform: translateY(-66%)
    }
    90% {
        opacity: 1;
        -webkit-transform: translateY(-66%);
        transform: translateY(-66%)
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(-130%);
        transform: translateY(-130%)
    }
}

@keyframes tipsPlus {
    0% {
        opacity: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    52% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    70% {
        opacity: 1;
        -webkit-transform: translateY(-66%);
        transform: translateY(-66%)
    }
    90% {
        opacity: 1;
        -webkit-transform: translateY(-66%);
        transform: translateY(-66%)
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(-130%);
        transform: translateY(-130%)
    }
}
@-webkit-keyframes bpx-animation-loading {
    0% {
        background-position: 0 0
    }
    6.25% {
        background-position: -320px 0
    }
    12.50% {
        background-position: -640px 0
    }
    18.75% {
        background-position: -960px 0
    }
    25.00% {
        background-position: -1280px 0
    }
    31.25% {
        background-position: -1600px 0
    }
    37.50% {
        background-position: -1920px 0
    }
    43.75% {
        background-position: -2240px 0
    }
    50.00% {
        background-position: -2560px 0
    }
    56.25% {
        background-position: -2880px 0
    }
    62.50% {
        background-position: -3200px 0
    }
    68.75% {
        background-position: -3520px 0
    }
    75.00% {
        background-position: -3840px 0
    }
    81.25% {
        background-position: -4160px 0
    }
    87.50% {
        background-position: -4480px 0
    }
    93.75% {
        background-position: 0 -184px
    }
    100.00% {
        background-position: -320px -184px
    }
}

@keyframes bpx-animation-loading {
    0% {
        background-position: 0 0
    }
    6.25% {
        background-position: -320px 0
    }
    12.50% {
        background-position: -640px 0
    }
    18.75% {
        background-position: -960px 0
    }
    25.00% {
        background-position: -1280px 0
    }
    31.25% {
        background-position: -1600px 0
    }
    37.50% {
        background-position: -1920px 0
    }
    43.75% {
        background-position: -2240px 0
    }
    50.00% {
        background-position: -2560px 0
    }
    56.25% {
        background-position: -2880px 0
    }
    62.50% {
        background-position: -3200px 0
    }
    68.75% {
        background-position: -3520px 0
    }
    75.00% {
        background-position: -3840px 0
    }
    81.25% {
        background-position: -4160px 0
    }
    87.50% {
        background-position: -4480px 0
    }
    93.75% {
        background-position: 0 -184px
    }
    100.00% {
        background-position: -320px -184px
    }
}

.bpx-docker ol, .bpx-docker ul {
    list-style: none;
    outline: none
}

.bpx-docker table {
    border-collapse: collapse;
    border-spacing: 0
}

.bpx-docker a, .bpx-docker input {
    text-decoration: none;
    outline: none
}

.bpx-docker {
    font-style: normal;
    font-size: 12px;
    line-height: 1
}

.bpx-common-hidden {
    display: none !important
}

.bpx-common-opacity-60 {
    opacity: .6
}

.bpx-common-opacity-0 {
    opacity: 0
}

.bpx-common-svg-icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.bpx-common-svg-icon svg {
    width: 100%;
    height: 100%;
    -webkit-transition: fill .15s ease-in-out;
    transition: fill .15s ease-in-out
}

.bpx-docker-major {
    position: relative;
    width: 100%;
    height: 100%
}

.bpx-docker-major.bpx-state-light-off:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000;
    opacity: .9;
    z-index: 1002
}

.bpx-docker-major.bpx-state-light-off .bpx-player-container {
    -webkit-box-shadow: none;
    box-shadow: none;
    z-index: 1010
}

.bpx-docker-minor {
    position: relative;
    width: 100%
}

.bpx-docker-minor:empty {
    background-color: #f4f4f4;
    background-color: var(--bpx-aux-header-bg, #f4f4f4);
    border-radius: 2px
}

.bpx-docker-minor:not(:empty) {
    background-color: #fff;
    background-color: var(--bpx-aux-content-bg, #fff)
}

.bpx-docker-patch {
    position: absolute;
    top: 0;
    left: 0;
    width: 0 !important;
    height: 0 !important
}

.bpx-player-container {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 0 8px #e5e9ef;
    box-shadow: 0 0 8px #e5e9ef;
    -webkit-box-shadow: 0 0 8px var(--bpx-box-shadow, #e5e9ef);
    box-shadow: 0 0 8px var(--bpx-box-shadow, #e5e9ef)
}

.bpx-player-container.bpx-state-disable-box-shadow {
    -webkit-box-shadow: none;
    box-shadow: none
}

.bpx-player-container.bpx-state-black-gap .bpx-player-video-wrap {
    border-color: transparent;
    border-style: solid;
    border-width: 48px 7px
}

.bpx-player-container.bpx-state-black-gap .bpx-player-control-mask {
    height: 180px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAC0CAYAAABVEkZPAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACaSURBVHgBlZLbDsQgCETLYP//i5UVtkYhuG59IFzODGnKdZ0eQWMSaFfST2TL0bmHXS+bhoBzD2+ybMAJgp0WiXb2ghWDmYFaa8ZBH6O1Nv1KwrGB32zAnLg8nGXDau4ti4z60+yGiFhZNAvOIdzKQbmy9MIX2V/t3HM+HbZSNAt3JcgOzrQmc/A6cIhEgwH/v9L1xG8j77coPnsUOUD2dBlAAAAAAElFTkSuQmCC) repeat-x bottom
}

.bpx-player-container[data-screen=full], .bpx-player-container[data-screen=mini], .bpx-player-container[data-screen=web] {
    z-index: 100000 !important
}

.bpx-player-container[data-ctrl-hidden=true] .bpx-player-top-wrap {
    visibility: hidden;
    opacity: 0
}

.bpx-player-container[data-ctrl-hidden=false] .bpx-player-top-wrap {
    visibility: visible;
    opacity: 1
}

.bpx-player-container[data-screen=mini] {
    position: fixed !important;
    width: 400px;
    height: 225px;
    border-radius: 4px;
    overflow: hidden
}

.bpx-player-container[data-revision="1"][data-screen=mini] {
    width: 320px;
    height: 180px
}

@media screen and (min-width: 1681px) {
    .bpx-player-container[data-revision="1"][data-screen=mini] {
        width: 360px;
        height: 203px
    }
}

.bpx-player-container[data-revision="1"] .bpx-player-sending-bar {
    font-size: 13px;
    padding-left: 12px
}

@media screen and (min-width: 1681px) {
    .bpx-player-container[data-revision="1"] .bpx-player-sending-bar {
        height: 56px;
        font-size: 14px
    }
}

.bpx-player-primary-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.bpx-player-hinter-area {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    background-size: cover;
    background-position: 50%;
    z-index: 500
}

.bpx-player-hinter-area:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -42px;
    margin-left: -42px;
    width: 84px;
    height: 84px;
    background: url(//s1.hdslb.com/bfs/static/player/img/play.svg) no-repeat 50%
}

.bpx-player-context-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    pointer-events: none
}

.bpx-player-video-area {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #000;
    background-color: var(--bpx-video-bgcolor, #000);
    overflow: hidden
}

.bpx-player-video-area.bpx-player-mouse-event {
    cursor: pointer
}

.bpx-player-sending-area[hidden] {
    display: none
}

.bpx-player-ending-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 55
}

.bpx-player-ending-wrap[hidden] {
    display: none
}

.bpx-player-ending-wrap[data-select="1"], .bpx-player-ending-wrap[data-select="2"] {
    opacity: 1;
    visibility: visible;
    -webkit-transition: none;
    transition: none
}

.bpx-player-ending-wrap[data-select="1"] .bpx-player-ending-backdrop, .bpx-player-ending-wrap[data-select="1"] .bpx-player-ending-panel, .bpx-player-ending-wrap[data-select="2"] .bpx-player-ending-backdrop, .bpx-player-ending-wrap[data-select="2"] .bpx-player-share-panel {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear
}

.bpx-player-ending-backdrop {
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    background-position: 50%;
    background-size: cover;
    -webkit-filter: blur(20px);
    filter: blur(20px);
    z-index: -1
}

.bpx-player-ending-backdrop:before {
    content: "";
    background-color: rgba(0, 0, 0, .6)
}

.bpx-player-ending-backdrop:before, .bpx-player-ending-panel, .bpx-player-share-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.bpx-player-ending-panel {
    z-index: 1
}

.bpx-player-share-panel {
    z-index: 2
}

.bpx-player-ending-backdrop, .bpx-player-ending-panel, .bpx-player-ending-wrap, .bpx-player-share-panel {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .2s linear, visibility 0ms .2s;
    transition: opacity .2s linear, visibility 0ms .2s
}

.bpx-player-state-wrap {
    pointer-events: none
}

.bpx-player-control-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 65
}

.bpx-player-control-wrap[hidden] {
    display: none
}

.bpx-player-sending-bar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 46px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 12px;
    background: #fff;
    background: var(--bpx-dmsend-main-bg, #fff)
}

.bpx-player-sending-bar-left {
    margin-right: 10px;
    width: 176px;
    height: 22px;
    background-color: rgba(0, 0, 0, .04)
}

.bpx-player-sending-bar-right {
    height: 22px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, .04)
}

.bpx-player-adv-dm-wrap, .bpx-player-bas-dm-wrap, .bpx-player-row-dm-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    pointer-events: none;
    z-index: 11;
    -webkit-mask-position: center;
    mask-position: center
}

.bpx-player-top-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    pointer-events: none;
    z-index: 45
}

.bpx-player-top-wrap[hidden] {
    display: none
}

.bpx-player-subtitle-wrap {
    z-index: 16
}

.bpx-player-music-wrap {
    position: absolute;
    top: 0;
    right: 0
}

.bpx-player-music-wrap:not(:empty) {
    width: 100%;
    height: 100%;
    z-index: 81
}

.bpx-player-container[data-screen=mini] .bpx-player-cmd-dm-wrap, .bpx-player-container[data-screen=mini] .bpx-player-ending-panel, .bpx-player-container[data-screen=mini] .bpx-player-interaction-hidden, .bpx-player-container[data-screen=mini] .bpx-player-interaction-rookie-guide, .bpx-player-container[data-screen=mini] .bpx-player-interaction-story, .bpx-player-container[data-screen=mini] .bpx-player-music-wrap, .bpx-player-container[data-screen=mini] .bpx-player-panorama, .bpx-player-container[data-screen=mini] .bpx-player-share-panel {
    display: none !important
}

.bpx-player-loading-panel {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 56
}

.bpx-player-loading-panel.bpx-state-loading {
    display: block
}

.bpx-player-loading-panel-blur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    pointer-events: none
}

.bpx-player-loading-panel-blur[hidden] {
    display: none
}

.bpx-player-loading-panel-blur:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3)
}

.bpx-player-loading-panel-blur-detail {
    width: 320px;
    height: 184px;
    background: url(//s1.hdslb.com/bfs/static/player/img/ploading.png) no-repeat;
    -webkit-transform: scale(.5);
    transform: scale(.5);
    -webkit-animation: bpx-animation-loading .94s steps(1) infinite;
    animation: bpx-animation-loading .94s steps(1) infinite
}

.bpx-player-loading-panel-text {
    position: absolute;
    left: 12px;
    right: 12px;
    bottom: 56px;
    color: hsla(0, 0%, 100%, .6);
    font-size: 12px;
    line-height: 1.6
}

.bpx-player-loading-panel-text[hidden] {
    display: none
}

.bpx-player-loading-panel-text-row {
    white-space: nowrap
}

.bpx-player-video-perch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative
}

.bpx-player-video-wrap {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.bpx-player-video-wrap .bpx-player-seamless-replacement {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.bpx-player-video-wrap .bpx-player-seamless-replacement, .bpx-player-video-wrap bwp-video, .bpx-player-video-wrap video {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    content-visibility: visible
}

.bpx-player-state-buff-icon, .bpx-player-state-buff-text, .bpx-player-state-play {
    display: none
}

.bpx-state-paused .bpx-player-state-wrap {
    position: absolute;
    right: 34px;
    bottom: 62px;
    cursor: pointer;
    pointer-events: none;
    z-index: 48
}

.bpx-state-paused .bpx-player-state-play {
    display: block;
    width: 64px;
    height: 64px;
    background: url(//s1.hdslb.com/bfs/static/player/img/play.svg) 50% no-repeat
}

.bpx-state-paused[data-screen=full] .bpx-player-state-wrap, .bpx-state-paused[data-screen=web] .bpx-player-state-wrap {
    bottom: 107px
}

.bpx-state-no-cursor .bpx-player-video-perch {
    cursor: none
}

.bpx-state-mirror bwp-video, .bpx-state-mirror video {
    -webkit-transform: rotateX(1deg) rotateY(180deg);
    transform: rotateX(1deg) rotateY(180deg)
}

.bpx-state-buff .bpx-player-state-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 48
}

.bpx-state-buff .bpx-player-state-buff-icon {
    display: block;
    width: 24px;
    height: 24px
}

.bpx-state-buff .bpx-player-state-buff-text {
    display: block;
    line-height: 1;
    font-size: 14px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .7);
    margin-top: 8px
}
