//引入清楚默认样式
@import './reset.scss';
//* {
//  margin: 0 !important;
//}

#app {
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: inherit;
  width: inherit;
  max-width: inherit;
  padding: 0;
}


//对话框全局居中
.el-dialog__wrapper {
  //top: 50% !important;
  ////left: 50% !important;
  //transform: translate(-50%, -50%);
}